/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	/* [disabled]padding: 0; */
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	zooom: 1;
	margin-bottom: 0;
	margin-left: 0px;
	margin-top: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1 {
	font-size: 34px;
	  line-height: 45px;
}
h2 {
	font-size: 24px;
	margin-bottom: 20px;
	padding-top: 20px;
	line-height: 36px;
}
h3 {
	font-size: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
}
h4 {
	font-size: 18px;
	margin-bottom: 10px;
}
h5 {
	font-size: 16px;
	margin-bottom: 10px;
	letter-spacing: 1px;
}
h6 {
	font-size: 15px;
	margin-bottom: 10px;
	font-weight: normal;
}
