<?php
/*
Theme Name: solvurs
Theme URI: http://solvurs.com
Author: Developer
Author URI: http://wordpress.org/
Description: This theme for Solvurs company site
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar
Text Domain: solvurs
*/
?>

/* WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
        white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}





.profile-content .messages {
    display: inline-block;
    margin-bottom: 30px;
}

.profile-content .profile-img {
    text-align: center;
    width: 68%;
    margin: 0 auto;
}

.profile-content .profile-img img {
    width: 100%; 
}

.profile-content .col-sm-9 p {
    text-align: left;
    margin-bottom: 10px;
}


.sub-heading {
    margin-bottom: 30px;

}











.page-content .medical-event-content .col-sm-6 ul li {
    font-family: Oswald,sans-serif;
    margin: 10px 0;
}

.page-content .medical-event-content .col-sm-6 ul{
	padding: 0;
}

.page-content .medical-event-content .col-sm-6 ul li .col-sm-10 {
     padding :8px 0;
}

.page-content .medical-event-content .col-sm-6 ul li .col-sm-2 {
     padding :8px 0;
}


.page-content .other-event-content .col-sm-6 ul li {
    font-family: Oswald,sans-serif;
    margin: 10px 0;
}
.page-content .other-event-content .col-sm-6 ul{
    padding:0; 
}
.page-content .other-event-content  {
    clear: both;
}

.page-content .other-event-content .col-sm-6 ul li .col-sm-10 {
     padding :8px 0;
}

.page-content .other-event-content .col-sm-6 ul li .col-sm-2 {
     padding :8px 0;
}

.page-content .other-event-content .col-sm-6 ul li .col-sm-12 {
     padding :8px 0;
}




.page-content .up-coming-event-content .col-sm-6 ul li {
    font-family: Oswald,sans-serif;
    margin: 10px 0;
}
.page-content .up-coming-event-content .col-sm-6 ul{
    padding:0; 
}

.page-content .up-coming-event-content .col-sm-6 ul li .col-sm-10 {
     padding :8px 0;
}

.page-content .up-coming-event-content .col-sm-6 ul li .col-sm-2 {
     padding :8px 0;
}

.page-content .up-coming-event-content  {
    clear: both;
}




.service-content p {
    text-align: left;
}
.service-content li {
    text-align: left;
}
.service-content ul {
    list-style-type: disc;
}

ul.tp-revslider-mainul {
    overflow: visible !important;
}





/*arslan style */

.dircetor-img img {
    width: 100%;
    height: 100%;
}

.dircetor-img {
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
}       

h3.uppercase.dark.oswald.animated.fadeIn.visible {
    text-align: center;
}

h3.uppercase.white.oswald {
    text-align: center;
}

.contact-detail {
    text-align: center;
}
ul.contect-pro {
    padding: 0;
}

.page-content .inner {
    padding: 0;
}
.page_header .inner {
    padding: 50px 0 0 0;
}
section.page-content .page-content-inner p.content-text {
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    max-width: 90%;
    line-height: 25px;
    font-size: 15px;
    padding: 1px 25px;
    margin: 0;
    font-weight: 500;
}
section.page-content .page-content-inner h1.content-head {
    margin: 0 0 8px;
    padding: 5px 25px;
    font-size: 35px;
}

.inner.about {
    clear: both;
}

.nav-inner .logo a{
    display: inline-block;
    height: 100%;
}

.nav-inner .logo a img{
    height: 100%
}